@use "./blue/blue.scss" as blue-theme;
@use "./lime/lime.scss" as lime-theme;
@use "./rose/rose.scss" as rose;
@use "./tan/tan.scss" as tan-theme;

$theme-colors: (
    "blue": (
        "dark": (
            "primary": blue-theme.$primary-dark,
            "on-primary": blue-theme.$on-primary-dark,
            "primary-container": blue-theme.$primary-container-dark,
            "on-primary-container": blue-theme.$on-primary-container-dark,
            "secondary": blue-theme.$secondary-dark,
            "on-secondary": blue-theme.$on-secondary-dark,
            "secondary-container": blue-theme.$secondary-container-dark,
            "on-secondary-container": blue-theme.$on-secondary-container-dark,
            "tertiary": blue-theme.$tertiary-dark,
            "on-tertiary": blue-theme.$on-tertiary-dark,
            "tertiary-container": blue-theme.$tertiary-container-dark,
            "on-tertiary-container": blue-theme.$on-tertiary-container-dark,
            "error": blue-theme.$error-dark,
            "error-container": blue-theme.$error-container-dark,
            "on-error": blue-theme.$on-error-dark,
            "on-error-container": blue-theme.$on-error-container-dark,
            "background": blue-theme.$background-dark,
            "on-background": blue-theme.$on-background-dark,
            "surface": blue-theme.$surface-dark,
            "on-surface": blue-theme.$on-surface-dark,
            "surface-variant": blue-theme.$surface-variant-dark,
            "on-surface-variant": blue-theme.$on-surface-variant-dark,
            "outline": blue-theme.$outline-dark,
            "inverse-on-surface": blue-theme.$inverse-on-surface-dark,
            "inverse-surface": blue-theme.$inverse-surface-dark,
            "inverse-primary": blue-theme.$inverse-primary-dark,
            "shadow": blue-theme.$shadow-dark,
            "surface-tint": blue-theme.$surface-tint-dark,
            "outline-variant": blue-theme.$outline-variant-dark,
            "scrim": blue-theme.$scrim-dark,
        ),
        "light": (
            "primary": blue-theme.$primary-light,
            "on-primary": blue-theme.$on-primary-light,
            "primary-container": blue-theme.$primary-container-light,
            "on-primary-container": blue-theme.$on-primary-container-light,
            "secondary": blue-theme.$secondary-light,
            "on-secondary": blue-theme.$on-secondary-light,
            "secondary-container": blue-theme.$secondary-container-light,
            "on-secondary-container": blue-theme.$on-secondary-container-light,
            "tertiary": blue-theme.$tertiary-light,
            "on-tertiary": blue-theme.$on-tertiary-light,
            "tertiary-container": blue-theme.$tertiary-container-light,
            "on-tertiary-container": blue-theme.$on-tertiary-container-light,
            "error": blue-theme.$error-light,
            "error-container": blue-theme.$error-container-light,
            "on-error": blue-theme.$on-error-light,
            "on-error-container": blue-theme.$on-error-container-light,
            "background": blue-theme.$background-light,
            "on-background": blue-theme.$on-background-light,
            "surface": blue-theme.$surface-light,
            "on-surface": blue-theme.$on-surface-light,
            "surface-variant": blue-theme.$surface-variant-light,
            "on-surface-variant": blue-theme.$on-surface-variant-light,
            "outline": blue-theme.$outline-light,
            "inverse-on-surface": blue-theme.$inverse-on-surface-light,
            "inverse-surface": blue-theme.$inverse-surface-light,
            "inverse-primary": blue-theme.$inverse-primary-light,
            "shadow": blue-theme.$shadow-light,
            "surface-tint": blue-theme.$surface-tint-light,
            "outline-variant": blue-theme.$outline-variant-light,
            "scrim": blue-theme.$scrim-light,
        ),
    ),
    "lime": (
        "dark": (
            "primary": lime-theme.$primary-dark,
            "on-primary": lime-theme.$on-primary-dark,
            "primary-container": lime-theme.$primary-container-dark,
            "on-primary-container": lime-theme.$on-primary-container-dark,
            "secondary": lime-theme.$secondary-dark,
            "on-secondary": lime-theme.$on-secondary-dark,
            "secondary-container": lime-theme.$secondary-container-dark,
            "on-secondary-container": lime-theme.$on-secondary-container-dark,
            "tertiary": lime-theme.$tertiary-dark,
            "on-tertiary": lime-theme.$on-tertiary-dark,
            "tertiary-container": lime-theme.$tertiary-container-dark,
            "on-tertiary-container": lime-theme.$on-tertiary-container-dark,
            "error": lime-theme.$error-dark,
            "error-container": lime-theme.$error-container-dark,
            "on-error": lime-theme.$on-error-dark,
            "on-error-container": lime-theme.$on-error-container-dark,
            "background": lime-theme.$background-dark,
            "on-background": lime-theme.$on-background-dark,
            "surface": lime-theme.$surface-dark,
            "on-surface": lime-theme.$on-surface-dark,
            "surface-variant": lime-theme.$surface-variant-dark,
            "on-surface-variant": lime-theme.$on-surface-variant-dark,
            "outline": lime-theme.$outline-dark,
            "inverse-on-surface": lime-theme.$inverse-on-surface-dark,
            "inverse-surface": lime-theme.$inverse-surface-dark,
            "inverse-primary": lime-theme.$inverse-primary-dark,
            "shadow": lime-theme.$shadow-dark,
            "surface-tint": lime-theme.$surface-tint-dark,
            "outline-variant": lime-theme.$outline-variant-dark,
            "scrim": lime-theme.$scrim-dark,
        ),
        "light": (
            "primary": lime-theme.$primary-light,
            "on-primary": lime-theme.$on-primary-light,
            "primary-container": lime-theme.$primary-container-light,
            "on-primary-container": lime-theme.$on-primary-container-light,
            "secondary": lime-theme.$secondary-light,
            "on-secondary": lime-theme.$on-secondary-light,
            "secondary-container": lime-theme.$secondary-container-light,
            "on-secondary-container": lime-theme.$on-secondary-container-light,
            "tertiary": lime-theme.$tertiary-light,
            "on-tertiary": lime-theme.$on-tertiary-light,
            "tertiary-container": lime-theme.$tertiary-container-light,
            "on-tertiary-container": lime-theme.$on-tertiary-container-light,
            "error": lime-theme.$error-light,
            "error-container": lime-theme.$error-container-light,
            "on-error": lime-theme.$on-error-light,
            "on-error-container": lime-theme.$on-error-container-light,
            "background": lime-theme.$background-light,
            "on-background": lime-theme.$on-background-light,
            "surface": lime-theme.$surface-light,
            "on-surface": lime-theme.$on-surface-light,
            "surface-variant": lime-theme.$surface-variant-light,
            "on-surface-variant": lime-theme.$on-surface-variant-light,
            "outline": lime-theme.$outline-light,
            "inverse-on-surface": lime-theme.$inverse-on-surface-light,
            "inverse-surface": lime-theme.$inverse-surface-light,
            "inverse-primary": lime-theme.$inverse-primary-light,
            "shadow": lime-theme.$shadow-light,
            "surface-tint": lime-theme.$surface-tint-light,
            "outline-variant": lime-theme.$outline-variant-light,
            "scrim": lime-theme.$scrim-light,
        ),
    ),
    "rose": (
        "dark": (
            "primary": rose.$primary-dark,
            "on-primary": rose.$on-primary-dark,
            "primary-container": rose.$primary-container-dark,
            "on-primary-container": rose.$on-primary-container-dark,
            "secondary": rose.$secondary-dark,
            "on-secondary": rose.$on-secondary-dark,
            "secondary-container": rose.$secondary-container-dark,
            "on-secondary-container": rose.$on-secondary-container-dark,
            "tertiary": rose.$tertiary-dark,
            "on-tertiary": rose.$on-tertiary-dark,
            "tertiary-container": rose.$tertiary-container-dark,
            "on-tertiary-container": rose.$on-tertiary-container-dark,
            "error": rose.$error-dark,
            "error-container": rose.$error-container-dark,
            "on-error": rose.$on-error-dark,
            "on-error-container": rose.$on-error-container-dark,
            "background": rose.$background-dark,
            "on-background": rose.$on-background-dark,
            "surface": rose.$surface-dark,
            "on-surface": rose.$on-surface-dark,
            "surface-variant": rose.$surface-variant-dark,
            "on-surface-variant": rose.$on-surface-variant-dark,
            "outline": rose.$outline-dark,
            "inverse-on-surface": rose.$inverse-on-surface-dark,
            "inverse-surface": rose.$inverse-surface-dark,
            "inverse-primary": rose.$inverse-primary-dark,
            "shadow": rose.$shadow-dark,
            "surface-tint": rose.$surface-tint-dark,
            "outline-variant": rose.$outline-variant-dark,
            "scrim": rose.$scrim-dark,
        ),
        "light": (
            "primary": rose.$primary-light,
            "on-primary": rose.$on-primary-light,
            "primary-container": rose.$primary-container-light,
            "on-primary-container": rose.$on-primary-container-light,
            "secondary": rose.$secondary-light,
            "on-secondary": rose.$on-secondary-light,
            "secondary-container": rose.$secondary-container-light,
            "on-secondary-container": rose.$on-secondary-container-light,
            "tertiary": rose.$tertiary-light,
            "on-tertiary": rose.$on-tertiary-light,
            "tertiary-container": rose.$tertiary-container-light,
            "on-tertiary-container": rose.$on-tertiary-container-light,
            "error": rose.$error-light,
            "error-container": rose.$error-container-light,
            "on-error": rose.$on-error-light,
            "on-error-container": rose.$on-error-container-light,
            "background": rose.$background-light,
            "on-background": rose.$on-background-light,
            "surface": rose.$surface-light,
            "on-surface": rose.$on-surface-light,
            "surface-variant": rose.$surface-variant-light,
            "on-surface-variant": rose.$on-surface-variant-light,
            "outline": rose.$outline-light,
            "inverse-on-surface": rose.$inverse-on-surface-light,
            "inverse-surface": rose.$inverse-surface-light,
            "inverse-primary": rose.$inverse-primary-light,
            "shadow": rose.$shadow-light,
            "surface-tint": rose.$surface-tint-light,
            "outline-variant": rose.$outline-variant-light,
            "scrim": rose.$scrim-light,
        ),
    ),
    "tan": (
        "dark": (
            "primary": tan-theme.$primary-dark,
            "on-primary": tan-theme.$on-primary-dark,
            "primary-container": tan-theme.$primary-container-dark,
            "on-primary-container": tan-theme.$on-primary-container-dark,
            "secondary": tan-theme.$secondary-dark,
            "on-secondary": tan-theme.$on-secondary-dark,
            "secondary-container": tan-theme.$secondary-container-dark,
            "on-secondary-container": tan-theme.$on-secondary-container-dark,
            "tertiary": tan-theme.$tertiary-dark,
            "on-tertiary": tan-theme.$on-tertiary-dark,
            "tertiary-container": tan-theme.$tertiary-container-dark,
            "on-tertiary-container": tan-theme.$on-tertiary-container-dark,
            "error": tan-theme.$error-dark,
            "error-container": tan-theme.$error-container-dark,
            "on-error": tan-theme.$on-error-dark,
            "on-error-container": tan-theme.$on-error-container-dark,
            "background": tan-theme.$background-dark,
            "on-background": tan-theme.$on-background-dark,
            "surface": tan-theme.$surface-dark,
            "on-surface": tan-theme.$on-surface-dark,
            "surface-variant": tan-theme.$surface-variant-dark,
            "on-surface-variant": tan-theme.$on-surface-variant-dark,
            "outline": tan-theme.$outline-dark,
            "inverse-on-surface": tan-theme.$inverse-on-surface-dark,
            "inverse-surface": tan-theme.$inverse-surface-dark,
            "inverse-primary": tan-theme.$inverse-primary-dark,
            "shadow": tan-theme.$shadow-dark,
            "surface-tint": tan-theme.$surface-tint-dark,
            "outline-variant": tan-theme.$outline-variant-dark,
            "scrim": tan-theme.$scrim-dark,
        ),
        "light": (
            "primary": tan-theme.$primary-light,
            "on-primary": tan-theme.$on-primary-light,
            "primary-container": tan-theme.$primary-container-light,
            "on-primary-container": tan-theme.$on-primary-container-light,
            "secondary": tan-theme.$secondary-light,
            "on-secondary": tan-theme.$on-secondary-light,
            "secondary-container": tan-theme.$secondary-container-light,
            "on-secondary-container": tan-theme.$on-secondary-container-light,
            "tertiary": tan-theme.$tertiary-light,
            "on-tertiary": tan-theme.$on-tertiary-light,
            "tertiary-container": tan-theme.$tertiary-container-light,
            "on-tertiary-container": tan-theme.$on-tertiary-container-light,
            "error": tan-theme.$error-light,
            "error-container": tan-theme.$error-container-light,
            "on-error": tan-theme.$on-error-light,
            "on-error-container": tan-theme.$on-error-container-light,
            "background": tan-theme.$background-light,
            "on-background": tan-theme.$on-background-light,
            "surface": tan-theme.$surface-light,
            "on-surface": tan-theme.$on-surface-light,
            "surface-variant": tan-theme.$surface-variant-light,
            "on-surface-variant": tan-theme.$on-surface-variant-light,
            "outline": tan-theme.$outline-light,
            "inverse-on-surface": tan-theme.$inverse-on-surface-light,
            "inverse-surface": tan-theme.$inverse-surface-light,
            "inverse-primary": tan-theme.$inverse-primary-light,
            "shadow": tan-theme.$shadow-light,
            "surface-tint": tan-theme.$surface-tint-light,
            "outline-variant": tan-theme.$outline-variant-light,
            "scrim": tan-theme.$scrim-light,
        ),
    ),
);

@function theme-color($theme: "blue", $variant: "light", $key: "primary") {
    $theme: map-get($theme-colors, $theme);
    $theme-variant: map-get($theme, $variant);
    $key: map-get($theme-variant, $key);
    @return $key;
}
