$source: #aed285;
/* primary */
$primary0: #000000;
$primary10: #0f2000;
$primary20: #1d3700;
$primary25: #254300;
$primary30: #2d5000;
$primary35: #375c07;
$primary40: #426915;
$primary50: #5a822d;
$primary60: #739d44;
$primary70: #8cb85c;
$primary80: #a7d475;
$primary90: #c2f18e;
$primary95: #d1ff9e;
$primary98: #efffd8;
$primary99: #f8ffe9;
$primary100: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #151e0b;
$secondary20: #2a331f;
$secondary25: #353f29;
$secondary30: #404a33;
$secondary35: #4b563e;
$secondary40: #57624a;
$secondary50: #707b61;
$secondary60: #899579;
$secondary70: #a4af93;
$secondary80: #bfcbad;
$secondary90: #dbe7c8;
$secondary95: #e9f5d6;
$secondary98: #f2fede;
$secondary99: #f8ffe9;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #00201f;
$tertiary20: #003735;
$tertiary25: #104240;
$tertiary30: #1f4e4c;
$tertiary35: #2c5a57;
$tertiary40: #386663;
$tertiary50: #517f7c;
$tertiary60: #6b9996;
$tertiary70: #85b4b1;
$tertiary80: #a0cfcc;
$tertiary90: #bbece8;
$tertiary95: #c9faf6;
$tertiary98: #e3fffc;
$tertiary99: #f2fffd;
$tertiary100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #1b1c18;
$neutral20: #30312c;
$neutral25: #3b3c37;
$neutral30: #464742;
$neutral35: #52534d;
$neutral40: #5e5f59;
$neutral50: #777772;
$neutral60: #91918b;
$neutral70: #abaca5;
$neutral80: #c7c7c0;
$neutral90: #e3e3db;
$neutral95: #f2f1ea;
$neutral98: #fafaf2;
$neutral99: #fdfcf5;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #191d14;
$neutral-variant20: #2e3228;
$neutral-variant25: #393d32;
$neutral-variant30: #44483d;
$neutral-variant35: #505449;
$neutral-variant40: #5c6054;
$neutral-variant50: #75796c;
$neutral-variant60: #8e9285;
$neutral-variant70: #a9ad9f;
$neutral-variant80: #c4c8ba;
$neutral-variant90: #e1e4d5;
$neutral-variant95: #eff2e3;
$neutral-variant98: #f8fbec;
$neutral-variant99: #fbfeee;
$neutral-variant100: #ffffff;
/* error */
$error0: #000000;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;
$error100: #ffffff;
/* light */
$primary-light: #426915;
$on-primary-light: #ffffff;
$primary-container-light: #c2f18e;
$on-primary-container-light: #0f2000;
$secondary-light: #57624a;
$on-secondary-light: #ffffff;
$secondary-container-light: #dbe7c8;
$on-secondary-container-light: #151e0b;
$tertiary-light: #386663;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #bbece8;
$on-tertiary-container-light: #00201f;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fdfcf5;
$on-background-light: #1b1c18;
$surface-light: #fdfcf5;
$on-surface-light: #1b1c18;
$surface-variant-light: #e1e4d5;
$on-surface-variant-light: #44483d;
$outline-light: #75796c;
$inverse-on-surface-light: #f2f1ea;
$inverse-surface-light: #30312c;
$inverse-primary-light: #a7d475;
$shadow-light: #000000;
$surface-tint-light: #426915;
$outline-variant-light: #c4c8ba;
$scrim-light: #000000;
/* dark */
$primary-dark: #a7d475;
$on-primary-dark: #1d3700;
$primary-container-dark: #2d5000;
$on-primary-container-dark: #c2f18e;
$secondary-dark: #bfcbad;
$on-secondary-dark: #2a331f;
$secondary-container-dark: #404a33;
$on-secondary-container-dark: #dbe7c8;
$tertiary-dark: #a0cfcc;
$on-tertiary-dark: #003735;
$tertiary-container-dark: #1f4e4c;
$on-tertiary-container-dark: #bbece8;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #1b1c18;
$on-background-dark: #e3e3db;
$surface-dark: #1b1c18;
$on-surface-dark: #e3e3db;
$surface-variant-dark: #44483d;
$on-surface-variant-dark: #c4c8ba;
$outline-dark: #8e9285;
$inverse-on-surface-dark: #1b1c18;
$inverse-surface-dark: #e3e3db;
$inverse-primary-dark: #426915;
$shadow-dark: #000000;
$surface-tint-dark: #a7d475;
$outline-variant-dark: #44483d;
$scrim-dark: #000000;
