$source: #a7c8ff;
/* primary */
$primary0: #000000;
$primary10: #001b3b;
$primary20: #003060;
$primary25: #003b74;
$primary30: #004788;
$primary35: #0d5299;
$primary40: #225fa6;
$primary50: #4278c1;
$primary60: #5e92dd;
$primary70: #79adf9;
$primary80: #a7c8ff;
$primary90: #d5e3ff;
$primary95: #ebf1ff;
$primary98: #f9f9ff;
$primary99: #fdfbff;
$primary100: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #121c2b;
$secondary20: #273141;
$secondary25: #323c4d;
$secondary30: #3d4758;
$secondary35: #495364;
$secondary40: #555f71;
$secondary50: #6d778a;
$secondary60: #8791a5;
$secondary70: #a2acc0;
$secondary80: #bdc7dc;
$secondary90: #d9e3f8;
$secondary95: #ebf1ff;
$secondary98: #f9f9ff;
$secondary99: #fdfbff;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #27132f;
$tertiary20: #3e2845;
$tertiary25: #493351;
$tertiary30: #553e5d;
$tertiary35: #624a69;
$tertiary40: #6e5676;
$tertiary50: #886e8f;
$tertiary60: #a387aa;
$tertiary70: #bea2c5;
$tertiary80: #dbbde2;
$tertiary90: #f8d8fe;
$tertiary95: #feebff;
$tertiary98: #fff7fb;
$tertiary99: #fffbff;
$tertiary100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #1a1c1e;
$neutral20: #2f3033;
$neutral25: #3a3b3e;
$neutral30: #46474a;
$neutral35: #525256;
$neutral40: #5e5e62;
$neutral50: #76777a;
$neutral60: #909094;
$neutral70: #ababae;
$neutral80: #c7c6ca;
$neutral90: #e3e2e6;
$neutral95: #f1f0f4;
$neutral98: #faf9fd;
$neutral99: #fdfbff;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #181c22;
$neutral-variant20: #2d3038;
$neutral-variant25: #383b43;
$neutral-variant30: #43474e;
$neutral-variant35: #4f525a;
$neutral-variant40: #5b5e66;
$neutral-variant50: #74777f;
$neutral-variant60: #8e9199;
$neutral-variant70: #a8abb4;
$neutral-variant80: #c4c6cf;
$neutral-variant90: #e0e2ec;
$neutral-variant95: #eef0fa;
$neutral-variant98: #f9f9ff;
$neutral-variant99: #fdfbff;
$neutral-variant100: #ffffff;
/* error */
$error0: #000000;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;
$error100: #ffffff;
/* light */
$primary-light: #225fa6;
$on-primary-light: #ffffff;
$primary-container-light: #d5e3ff;
$on-primary-container-light: #001b3b;
$secondary-light: #555f71;
$on-secondary-light: #ffffff;
$secondary-container-light: #d9e3f8;
$on-secondary-container-light: #121c2b;
$tertiary-light: #6e5676;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #f8d8fe;
$on-tertiary-container-light: #27132f;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fdfbff;
$on-background-light: #1a1c1e;
$surface-light: #fdfbff;
$on-surface-light: #1a1c1e;
$surface-variant-light: #e0e2ec;
$on-surface-variant-light: #43474e;
$outline-light: #74777f;
$inverse-on-surface-light: #f1f0f4;
$inverse-surface-light: #2f3033;
$inverse-primary-light: #a7c8ff;
$shadow-light: #000000;
$surface-tint-light: #225fa6;
$outline-variant-light: #c4c6cf;
$scrim-light: #000000;
/* dark */
$primary-dark: #a7c8ff;
$on-primary-dark: #003060;
$primary-container-dark: #004788;
$on-primary-container-dark: #d5e3ff;
$secondary-dark: #bdc7dc;
$on-secondary-dark: #273141;
$secondary-container-dark: #3d4758;
$on-secondary-container-dark: #d9e3f8;
$tertiary-dark: #dbbde2;
$on-tertiary-dark: #3e2845;
$tertiary-container-dark: #553e5d;
$on-tertiary-container-dark: #f8d8fe;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #1a1c1e;
$on-background-dark: #e3e2e6;
$surface-dark: #1a1c1e;
$on-surface-dark: #e3e2e6;
$surface-variant-dark: #43474e;
$on-surface-variant-dark: #c4c6cf;
$outline-dark: #8e9199;
$inverse-on-surface-dark: #1a1c1e;
$inverse-surface-dark: #e3e2e6;
$inverse-primary-dark: #225fa6;
$shadow-dark: #000000;
$surface-tint-dark: #a7c8ff;
$outline-variant-dark: #43474e;
$scrim-dark: #000000;
