$source: #cdc990;
/* primary */
$primary0: #000000;
$primary10: #1e1c00;
$primary20: #343200;
$primary25: #3f3d00;
$primary30: #4b4900;
$primary35: #585500;
$primary40: #646100;
$primary50: #7e7a00;
$primary60: #999421;
$primary70: #b4af3b;
$primary80: #d0cb54;
$primary90: #ede76d;
$primary95: #fcf679;
$primary98: #fffbd8;
$primary99: #fffbff;
$primary100: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #1d1c05;
$secondary20: #333118;
$secondary25: #3e3c22;
$secondary30: #4a482c;
$secondary35: #555437;
$secondary40: #626042;
$secondary50: #7b7859;
$secondary60: #959271;
$secondary70: #b0ad8a;
$secondary80: #ccc8a4;
$secondary90: #e8e4be;
$secondary95: #f6f2cc;
$secondary98: #fffbd8;
$secondary99: #fffbff;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #002115;
$tertiary20: #0d3728;
$tertiary25: #1a4333;
$tertiary30: #264e3e;
$tertiary35: #325a49;
$tertiary40: #3e6655;
$tertiary50: #577f6d;
$tertiary60: #709a86;
$tertiary70: #8ab4a0;
$tertiary80: #a5d0bb;
$tertiary90: #c0ecd6;
$tertiary95: #cefbe4;
$tertiary98: #e7fff1;
$tertiary99: #f4fff7;
$tertiary100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #1c1c16;
$neutral20: #31302b;
$neutral25: #3d3b35;
$neutral30: #484740;
$neutral35: #54524c;
$neutral40: #605e58;
$neutral50: #797770;
$neutral60: #939189;
$neutral70: #aeaba3;
$neutral80: #cac6be;
$neutral90: #e6e2d9;
$neutral95: #f4f0e7;
$neutral98: #fdf9f0;
$neutral99: #fffbff;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #1d1c11;
$neutral-variant20: #323125;
$neutral-variant25: #3d3c2f;
$neutral-variant30: #49473a;
$neutral-variant35: #545345;
$neutral-variant40: #615f51;
$neutral-variant50: #7a7768;
$neutral-variant60: #949181;
$neutral-variant70: #afac9b;
$neutral-variant80: #cac7b5;
$neutral-variant90: #e7e3d1;
$neutral-variant95: #f5f1df;
$neutral-variant98: #fefae7;
$neutral-variant99: #fffbff;
$neutral-variant100: #ffffff;
/* error */
$error0: #000000;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;
$error100: #ffffff;
/* light */
$primary-light: #646100;
$on-primary-light: #ffffff;
$primary-container-light: #ede76d;
$on-primary-container-light: #1e1c00;
$secondary-light: #626042;
$on-secondary-light: #ffffff;
$secondary-container-light: #e8e4be;
$on-secondary-container-light: #1d1c05;
$tertiary-light: #3e6655;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #c0ecd6;
$on-tertiary-container-light: #002115;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fffbff;
$on-background-light: #1c1c16;
$surface-light: #fffbff;
$on-surface-light: #1c1c16;
$surface-variant-light: #e7e3d1;
$on-surface-variant-light: #49473a;
$outline-light: #7a7768;
$inverse-on-surface-light: #f4f0e7;
$inverse-surface-light: #31302b;
$inverse-primary-light: #d0cb54;
$shadow-light: #000000;
$surface-tint-light: #646100;
$outline-variant-light: #cac7b5;
$scrim-light: #000000;
/* dark */
$primary-dark: #d0cb54;
$on-primary-dark: #343200;
$primary-container-dark: #4b4900;
$on-primary-container-dark: #ede76d;
$secondary-dark: #ccc8a4;
$on-secondary-dark: #333118;
$secondary-container-dark: #4a482c;
$on-secondary-container-dark: #e8e4be;
$tertiary-dark: #a5d0bb;
$on-tertiary-dark: #0d3728;
$tertiary-container-dark: #264e3e;
$on-tertiary-container-dark: #c0ecd6;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #1c1c16;
$on-background-dark: #e6e2d9;
$surface-dark: #1c1c16;
$on-surface-dark: #e6e2d9;
$surface-variant-dark: #49473a;
$on-surface-variant-dark: #cac7b5;
$outline-dark: #949181;
$inverse-on-surface-dark: #1c1c16;
$inverse-surface-dark: #e6e2d9;
$inverse-primary-dark: #646100;
$shadow-dark: #000000;
$surface-tint-dark: #d0cb54;
$outline-variant-dark: #49473a;
$scrim-dark: #000000;
