$source: #ffb4a3;
/* primary */
$primary0: #000000;
$primary10: #3d0600;
$primary20: #5e1606;
$primary25: #6d2110;
$primary30: #7d2c1a;
$primary35: #8c3824;
$primary40: #9c432f;
$primary50: #bb5b45;
$primary60: #db735c;
$primary70: #fb8d74;
$primary80: #ffb4a3;
$primary90: #ffdad2;
$primary95: #ffede9;
$primary98: #fff8f6;
$primary99: #fffbff;
$primary100: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #2c1510;
$secondary20: #442a24;
$secondary25: #51342e;
$secondary30: #5d3f39;
$secondary35: #6a4b44;
$secondary40: #77574f;
$secondary50: #926f67;
$secondary60: #ae8880;
$secondary70: #caa299;
$secondary80: #e7bdb4;
$secondary90: #ffdad2;
$secondary95: #ffede9;
$secondary98: #fff8f6;
$secondary99: #fffbff;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #241a00;
$tertiary20: #3c2f04;
$tertiary25: #483a0e;
$tertiary30: #544519;
$tertiary35: #615124;
$tertiary40: #6d5d2e;
$tertiary50: #887544;
$tertiary60: #a38f5b;
$tertiary70: #bea973;
$tertiary80: #dbc58c;
$tertiary90: #f8e1a6;
$tertiary95: #ffefcd;
$tertiary98: #fff8f1;
$tertiary99: #fffbff;
$tertiary100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #201a19;
$neutral20: #362f2d;
$neutral25: #413a38;
$neutral30: #4d4543;
$neutral35: #59504f;
$neutral40: #655c5a;
$neutral50: #7f7573;
$neutral60: #998e8c;
$neutral70: #b4a9a6;
$neutral80: #d0c4c1;
$neutral90: #ede0dd;
$neutral95: #fbeeeb;
$neutral98: #fff8f6;
$neutral99: #fffbff;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #251916;
$neutral-variant20: #3b2d2a;
$neutral-variant25: #473835;
$neutral-variant30: #534340;
$neutral-variant35: #5f4f4b;
$neutral-variant40: #6c5b57;
$neutral-variant50: #85736f;
$neutral-variant60: #a08c88;
$neutral-variant70: #bca7a2;
$neutral-variant80: #d8c2bd;
$neutral-variant90: #f5ddd8;
$neutral-variant95: #ffede9;
$neutral-variant98: #fff8f6;
$neutral-variant99: #fffbff;
$neutral-variant100: #ffffff;
/* error */
$error0: #000000;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;
$error100: #ffffff;
/* light */
$primary-light: #9c432f;
$on-primary-light: #ffffff;
$primary-container-light: #ffdad2;
$on-primary-container-light: #3d0600;
$secondary-light: #77574f;
$on-secondary-light: #ffffff;
$secondary-container-light: #ffdad2;
$on-secondary-container-light: #2c1510;
$tertiary-light: #6d5d2e;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #f8e1a6;
$on-tertiary-container-light: #241a00;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fffbff;
$on-background-light: #201a19;
$surface-light: #fffbff;
$on-surface-light: #201a19;
$surface-variant-light: #f5ddd8;
$on-surface-variant-light: #534340;
$outline-light: #85736f;
$inverse-on-surface-light: #fbeeeb;
$inverse-surface-light: #362f2d;
$inverse-primary-light: #ffb4a3;
$shadow-light: #000000;
$surface-tint-light: #9c432f;
$outline-variant-light: #d8c2bd;
$scrim-light: #000000;
/* dark */
$primary-dark: #ffb4a3;
$on-primary-dark: #5e1606;
$primary-container-dark: #7d2c1a;
$on-primary-container-dark: #ffdad2;
$secondary-dark: #e7bdb4;
$on-secondary-dark: #442a24;
$secondary-container-dark: #5d3f39;
$on-secondary-container-dark: #ffdad2;
$tertiary-dark: #dbc58c;
$on-tertiary-dark: #3c2f04;
$tertiary-container-dark: #544519;
$on-tertiary-container-dark: #f8e1a6;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #201a19;
$on-background-dark: #ede0dd;
$surface-dark: #201a19;
$on-surface-dark: #ede0dd;
$surface-variant-dark: #534340;
$on-surface-variant-dark: #d8c2bd;
$outline-dark: #a08c88;
$inverse-on-surface-dark: #201a19;
$inverse-surface-dark: #ede0dd;
$inverse-primary-dark: #9c432f;
$shadow-dark: #000000;
$surface-tint-dark: #ffb4a3;
$outline-variant-dark: #534340;
$scrim-dark: #000000;
